
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DLIntent</title>
</head>
<body>
	<script type="text/javascript">

		window.location.replace('intent://open?link_click_id=123456#Intent;scheme=tomerdl;package=com.link.deeplink.deeplinking;S.browser_fallback_url=http%3A%2F%2Fmschool.apphb.com%2Fhome%2Fabout;end');
		
	</script>
    <div> Intent View
    </div>
</body>
</html>
